$blue: rgb(88, 71, 235);
$white: rgb(255, 255, 255);

$light-red-work: rgb(255, 140, 102);
$soft-blue-play: rgb(86, 194, 230);
$light-red-study: rgb(255, 92, 124);
$lime-green-exercise: rgb(74, 207, 129);
$violet-social: rgb(117, 54, 211);
$soft-orange-self-care: rgb(241, 198, 91);

$very-dark-blue: rgb(15, 20, 36);
$dark-blue: rgb(28, 31, 74);
$desaturated-blue: rgb(111, 118, 200);
$pale-blue: rgb(189, 193, 255);
