@use "colors" as *;
@use "reset" as *;

body {
	min-height: 100svh;
	padding: 6em 2em;
	font-family: "Rubik", sans-serif;
	// - Font size: 18px (card titles e.g. Work, Play)
	// - Weights: 300, 400, 500
	display: flex;
	justify-content: center;
	align-items: center;
	color: $pale-blue;
	background-color: $very-dark-blue;
}

.dashboard {
	width: 33rem;
	height: fit-content;
}

.name-box,
.activity-box {
	margin-bottom: 2em;
	border-radius: 12px;
	overflow: hidden;
}

.name-box {
	background-color: $dark-blue;

	&__header {
		padding: 2.5em;
		display: flex;
		background-color: $blue;
		border-radius: 12px;
	}

	&__img {
		height: 6em;
		width: 6em;
		margin-right: 1.5em;
		border: solid 2px white;
		border-radius: 50%;
	}

	&__person-info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 0.2em;
	}

	&__report-for {
		font-size: 1.3rem;
	}

	&__person-name {
		font-size: 2.2rem;
		font-weight: 300;
		color: $white;
	}

	&__timeframes {
		width: 100%;
		padding: 1.3em 2em;
		display: flex;
		justify-content: space-between;

		&--btn {
			padding: 0.6em;
			font-size: 1.6rem;
			color: $desaturated-blue;
			transition: color 0.3s;

			&:hover {
				color: $white;
			}
		}
	}
}

.activity-box {
	position: relative;
	padding: 1px;
	z-index: -1;

	&__icon {
		position: absolute;
		right: 1.6em;
		top: -0.4em;
		width: 5.2em;
		height: 5.2em;
		background-size: contain;
		background-repeat: no-repeat;
		z-index: -10;
	}

	&__content {
		margin-top: 2.5em;
		padding: 2em;
		background-color: $dark-blue;
		border-radius: 12px;
		overflow: hidden;
	}

	&__top,
	&__bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__top {
		margin-bottom: 0.6em;
	}

	&__title {
		font-size: 1.8rem;
		color: $white;
	}

	&__current-time {
		font-size: 2.8rem;
		font-weight: 300;
		color: $white;
	}

	&__last-time {
		font-size: 1.2rem;
	}
}

.work-box {
	background-color: $light-red-work;

	&__icon {
		background-image: url("../images/icon-work.svg");
	}
}

.play-box {
	background-color: $soft-blue-play;

	&__icon {
		background-image: url("../images/icon-play.svg");
	}
}
.study-box {
	background-color: $light-red-study;

	&__icon {
		background-image: url("../images/icon-study.svg");
	}
}
.exercise-box {
	background-color: $lime-green-exercise;

	&__icon {
		background-image: url("../images/icon-exercise.svg");
	}
}
.socjal-box {
	background-color: $violet-social;

	&__icon {
		background-image: url("../images/icon-social.svg");
	}
}
.self-care-box {
	background-color: $soft-orange-self-care;

	&__icon {
		background-image: url("../images/icon-self-care.svg");
	}
}

// COMPONENTS
.active {
	color: $pale-blue;
}

// MEDIA
@media (min-width: 768px) {
	.dashboard {
		width: 700px;
		display: grid;
		grid-template-columns: 25% 35% 35%;
		grid-template-rows: 1fr 1fr 1fr;
		gap: 2em;
	}

	.name-box,
	.activity-box {
		margin-bottom: 0;
	}

	.name-box {
		grid-column: 1 / 2;
		grid-row: 1 / 4;

		&__header {
			height: 60%;
			flex-direction: column;
		}

		&__img {
			height: 8em;
			width: 8em;
			margin-bottom: 2.5em;
		}

		&__person-info {
			gap: 0.6em;
		}

		&__person-name {
			font-size: 2.6rem;
		}

		&__timeframes {
			height: 40%;
			padding: 3em 1.5em;
			flex-direction: column;
			text-align-last: left;

			&--btn {
				padding: 0.6em;
				font-size: 1.6rem;
			}
		}
	}
}

@media (min-width: 992px) {
	.dashboard {
		width: 900px;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 1fr 1fr;
	}

	.name-box {
		grid-column: 1 / 2;
		grid-row: 1 / 3;

		&__header {
			height: 60%;
			flex-direction: column;
		}

		&__person-name {
			font-size: 2.8rem;
		}
	}

	.activity-box {
		&__content {
			margin-top: 2.5em;
			padding: 2em;
		}

		&__top,
		&__bottom {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&__top {
			margin-bottom: 2.5em;
		}

		&__bottom {
			flex-direction: column;
			align-items: start;
			text-align: left;
		}

		&__title {
			font-size: 2.2rem;
		}

		&__current-time {
			margin-bottom: 0.2em;
			font-size: 4.4rem;
		}

		&__last-time {
			margin-bottom: 0.5em;
		}
	}
}
